@model Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Role</h1>
<hr />

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)

    <input type="submit" value="Save" />
}
