@model IEnumerable<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole>

@{ 
    ViewData["Title"] = "Index";
}

<h1>List of All Roles</h1>
<hr />

<h2>@Html.ActionLink("Create New Role", "Create")</h2>
<h2>@Html.ActionLink("Manage User Roles", "AddUser")</h2>
<h2>@Html.ActionLink("View Users' Roles", "UsersRoles")</h2>

<ul>
    @foreach (var role in Model)
    {
        <li>@role.Name |</li>
    }
</ul>

