<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
    @*Boostrap & jQuery Start*@
        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>
        <link href="~/Content/css/Styles.css" rel="stylesheet" />
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjvS5hY6XQCK7lqE1nQahRjNmpeshkU8c"></script>
    @*Boostrap & jQuery End*@

        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <a class="navbar-brand navbar-left" href="/">Calendar Mapping</a>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/User">@User.Identity.Name<span class="sr-only">(current)</span></a></li>
                        <li><a href="/User/Profile">Profile</a></li>
                        <li><a href="/Calendar">Calendar Manager</a></li>
                        <li><a href="/Event">Event Manager</a></li>
                        @if (User.IsInRole("SiteBoss"))
                        {
                            <li><a href="/User/List">User Manager</a></li>
                            <li><a href="/Role">Role Manager</a></li>
                        }
                    </ul>
                </div>
            </nav>
            <br />
            <br />
            <br />
            <br />
        }
        else
        {
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <a class="navbar-brand navbar-left" href="/">Calendar Mapping</a>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Account/Login">Login</a></li>
                        <li><a href="/Account/Register">Register</a></li>
                    </ul>
                </div>
            </nav>
            <br />
            <br />
            <br />
            <br />
        }

        <div>
            @RenderBody()
        </div>
    </body>
</html>
