@using System.Security.Claims

@{ 
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to CalendarMapping!</h1>
<hr />

<h2>@Html.ActionLink("Log In", "Login", "Account")</h2>
<h2>@Html.ActionLink("Register New Account", "Register", "Account")</h2>
<h2>@Html.ActionLink("Role Manager", "Index", "Role")</h2>