@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#log-out").click(function () {
                    $.ajax({
                        type: "POST",
                        dataType: "html",
                        data: $(this).serialize(),
                        url: '@Url.Action("Logout")',
                        success: function (result) {
                            location.reload();
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        @if (User.Identity.IsAuthenticated)
        {
            <h1>Welcome @(ViewData["FullName"])!</h1>
            <br />
            <hr />

            <button type="submit" formaction="Logout" formmethod="post" id="log-out" class="btn btn-warning">Log Out</button>
        }
        else
        {
            <h2>@Html.ActionLink("Log In", "Login", "Account")</h2>
        }
    </body>
</html>
