@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="~/Content/js/UserScripts.js" type="text/javascript"></script>
    </head>
    <body>
        @*Link to url action in ajax request in UserScripts.js*@
        <div>
            @Html.Hidden("LogoutUrl", Url.Action("Logout"))
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <h1 class="page-header">Welcome @(ViewData["FullName"])!</h1>
            <br />
            <br />
            <br />
            <br />

            <button type="submit" formaction="Logout" formmethod="post" class="btn btn-warning">Log Out</button>
        }
        else
        {
            <h2>@Html.ActionLink("Log In", "Login", "Account")</h2>
        }
    </body>
</html>
