@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Welcome @(ViewData["FullName"])!</h2>
    <h2>@Html.ActionLink("Event Manager", "Index", "Event")</h2>
    <h2>@Html.ActionLink("Role Manager", "Index", "Role")</h2>
    @using (Html.BeginForm("LogOut", "Account"))
    {
        <input type="submit" value="Log Out" />
    }
}
