@model IEnumerable<CalendarMapping.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                //$("#site-boss-list").hide();
                //$("#site-boss").click(function () {
                //    $("#site-boss-list").toggle();
                //});
                $(".delete-user").submit(function (event) {
                    event.preventDefault();
                    if (confirm("Are you sure you want to delete this user?")) {
                        $.ajax({
                            type: "POST",
                            dataType: "html",
                            data: $(this).serialize(),
                            url: '@Url.Action("DeleteUser")',
                            success: function (result) {
                                location.reload();
                            }
                        });
                    }
                });
            });
        </script>
    </head>
    <body>
        <h1>User Manager</h1>
        <br />
        <hr />

        <div>
            <h2>Users List</h2>
            <div class="row">
                @foreach (var user in Model)
                {
                    <h5 class="col-xs-6">@user.UserName</h5>
                    <form action="DeleteUser" method="post" class="col-xs-6 delete-user">
                        <input type="hidden" value=@user.Id name="userId" />
                        <button type="submit">Delete</button>
                    </form>
                }
            </div>
        </div>
        <br />
        <hr />

        @*<div>
            <h2>View Users By Role</h2>
            <div>
                <h3 id="site-boss"><a>Site Boss</a></h3>
                <ul id="site-boss-list">
                    Actually only lists currently logged in user, not all...
                    @foreach (var user in Model)
                    {
                        @if (user.Roles.Equals("AccountHolder"))
                        {
                            <li>@user.UserName</li>
                        }
                        else
                        {
                            <li>Hello</li>
                        }
                    }
                </ul>
            </div>
        </div>*@
    </body>
</html>

