@model IEnumerable<CalendarMapping.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="~/Content/js/UserScripts.js" type="text/javascript"></script>
    </head>
    <body>
        <div>
            @Html.Hidden("DeleteUserUrl", Url.Action("DeleteUser"))
        </div>

        <h1 class="page-header">User Manager</h1>
        <br />

        <div>
            <h2>Users List</h2>
            <div class="row">
                @foreach (var user in Model)
                {
                    <h5 class="col-xs-6">@user.UserName</h5>
                    <form action="DeleteUser" method="post" class="col-xs-6 form-group delete-user">
                        <input type="hidden" value=@user.Id name="userId" class="form-control"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                }
            </div>
        </div>
        <br />
        <hr />
    </body>
</html>

