* {
    font-family: 'Times New Roman';
}

/*----------------------------------Navbar Styling----------------------------------*/
nav .navbar-brand {
    font-size: 18pt;
}

nav li {
    font-size: 15pt;
}

/*----------------------------------Home/Index Styling----------------------------------*/
.profiled-calendars {
    text-align: center;
}

/*----------------------------------Page Styling----------------------------------*/
.page-header {
    text-align: center;
    font-size: 40pt;
    padding-bottom: 30px;
}

.main-content {
    margin-left: 75px;
    margin-right: 75px;
}

.more-content {
    text-align: center;
}

h2 {
    font-size: 25pt;
}

h5 {
    font-size: 18pt;
}

p {
    text-align: center;
}

.user-profile {
    text-align: center;
}

#date-field {
    background-color: #2E0854;
    border-color: #2E0854;
    color: #FFFFFF;
    text-align: center;
    font-size: 15pt;
}

#favorites-link {
    text-align: center;
}

/*----------------------------------Form Styling----------------------------------*/
.form-group {
    margin-left: 75px;
    margin-right: 75px;
}

label {
    font-size: 15pt;
    margin-top: 15px;
}

input {
    font-size: 15pt;
}

.delete-user {
    margin-top: -30px;
}

.delete-role {
    margin-top: -1px;
}

.delete-event {
    margin-top: -35px;
}

.delete-event-details {
    margin-top: 0px;
}

/*----------------------------------Glyphicon Styling----------------------------------*/

.glyphicon-triangle-left {
    margin-left: 83%;
}

/*----------------------------------Button Styling----------------------------------*/

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 15pt;
}

.form-group .btn {
    margin-top: 40px;
}

.delete-account-btn {
    margin-right: 0%;
}

.delete-event-btn {
    margin-right: -12%;
}

.account-btn {
    margin-top: 40px;
}

.glyphicon {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -1px;
}

.glyphicon-heart-empty, .glyphicon-heart {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.glyphicon-heart {
    background-color: red;
    border-color: red;
}


/*----------------------------------Maps Styling----------------------------------*/

#show-events-map, #show-calendar-events-map {
    margin: 0 auto;
    width: 750px;
    height: 500px;
    background-color: grey;
}

/*----------------------------------Last Element Styling----------------------------------*/
.last-element {
    margin-bottom: 150px;
}