@using CalendarMapping.ViewModels
@model LoginViewModel

@{ 
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-header">Log in to Your Account</h1>
<br />

@using (Html.BeginForm())
{
    <div class="more-content">
        <form class="form-group">
            <label>Username</label>
            @Html.TextBoxFor(m => m.Username)


            <label>Password</label>
            @Html.PasswordFor(m => m.Password)

            <button type="submit" class="btn btn-success account-btn">Log In</button>
        </form>
    </div>
}
