@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="~/Content/js/AccountScripts.js" type="text/javascript"></script>
    </head>
    <body>
        <h1 class="page-header">Register for a New Account</h1>
        <br />

        <p>Note: passwords must be at least 6 characters in length, contain lowercase letters & at least one number</p>
        <br />

        <div class="more-content">
            <form action="Register" method="post" class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label>First Name</label>
                        <input name="newFirstName" class="form-control" />
                    </div>
                    <div class="col-xs-6">
                        <label>Last Name</label>
                        <input name="newLastName" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label>Email</label>
                        <input name="newEmail" class="form-control" />
                    </div>
                    <div class="col-xs-6">
                        <label>Phone Number</label>
                        <input name="newPhoneNumber" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <label>Username</label>
                        <input name="newUsername" class="form-control" />
                    </div>
                    <div class="col-xs-4">
                        <label>Password</label>
                        <input type="password" name="newPassword" class="form-control" />
                    </div>
                    <div class="col-xs-4">
                        <label>Confirm Password</label>
                        <input type="password" name="confirmPassword" class="form-control" />
                    </div>
                </div>
                <button type="submit" class="btn btn-success account-btn">Register</button>
            </form>
        </div>
    </body>
</html>